<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Username" matInput formControlName="uname">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="pwd">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" type="submit" [disabled]="!myForm.valid" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
