<div class="login-wrapper">

  <p>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Add New User
    </button>
  </p>

  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <mat-card class="box">
      <!-- <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header> -->

      <form [formGroup]="myForm" class="example-form" fxLayout="row" (ngSubmit)="onSubmit()">

        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="employeeId" formControlName="empId">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="name" formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Username" formControlName="uname">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="password" formControlName="pwd">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected" formControlName="role">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>

          </mat-form-field>
          <button type="submit" [disabled]="!myForm.valid" mat-stroked-button color="accent" class="btn-block"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">Register</button>
        </mat-card-content>



      </form>
    </mat-card>
  </div>
</div>
<!-- <form>
  <input type="text" name="namesearch" id="namesearch" onkeyup="applyFilter($event.target.value)"
    placeholder="Filter">
</form> -->
<app-user-data>


</app-user-data>

<!-- <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="employees">
      
          <ng-container matColumnDef="EmployeeID">
            <mat-header-cell *matHeaderCellDef> EmployeeID </mat-header-cell>
            <mat-cell *matCellDef="let employee">{{employee.empId}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let employee">{{employee.name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="UserName">
            <mat-header-cell *matHeaderCellDef>UserName </mat-header-cell>
            <mat-cell *matCellDef="let employee">{{employee.uname}}
            </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="Roles">
            <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
            <mat-cell *matCellDef="let employee">{{employee.role}}</mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
      
        </mat-table>
      </div>
      <mat-paginator [length]="5" [pageSize]="3" [pageSizeOptions]="[5, 10, 25]">
      </mat-paginator> -->
